﻿@model TP1_CreditImmobilier.Models.SimulationModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@{Html.BeginForm("Edit", "Simulation");}
<h2>Bienvenue @Model.nomClient</h2>
@Html.Hidden("nomClient", @Model.nomClient)
<p>Vous avez réalisé une simulation le @Model.date</p>
@Html.Hidden("date", Model.date)

@Html.LabelFor(s => s.capitalEmprunte)
@Html.TextBoxFor(s => s.capitalEmprunte)
@Html.ValidationMessageFor(s => s.capitalEmprunte)

@Html.LabelFor(s => s.dureePret)
@Html.TextBoxFor(s => s.dureePret)
@Html.ValidationMessageFor(s => s.dureePret)

@Html.LabelFor(s => s.nbEcheanceParAn)
@Html.DropDownListFor(s => s.nbEcheanceParAn, Model.getNombreEcheance)
@Html.ValidationMessageFor(s => s.nbEcheanceParAn)

@Html.LabelFor(s => s.montantEcheances)
@Html.Hidden("montantEcheances")
<span id="montantEcheances">@Model.montantEcheances</span>
@Html.ValidationMessageFor(s => s.montantEcheances)

@Html.LabelFor(s => s.tauxInteretAnnuel)
@Html.TextBoxFor(s => s.tauxInteretAnnuel)
@Html.ValidationMessageFor(s => s.tauxInteretAnnuel)

@Html.LabelFor(s => s.tauxAssurance)
@Html.TextBoxFor(s => s.tauxAssurance)
@Html.ValidationMessageFor(s => s.tauxAssurance)

@Html.LabelFor(s => s.tauxPeriodiqueAssurance)
@Html.Hidden("tauxPeriodiqueAssurance")
<span id="tauxPeriodiqueAssurance">@Model.tauxPeriodiqueAssurance</span>

@Html.LabelFor(s => s.tauxInteretPeriodique)
@Html.Hidden("tauxInteretPeriodique")
<span id="tauxInteretPeriodique">@Model.tauxInteretPeriodique</span>

@Html.LabelFor(s => s.montantEcheancesAssurance)
@Html.Hidden("montantEcheanceAssurance")
<span id="montantEcheanceAssurance">@Model.montantEcheancesAssurance</span>
<input type="submit" value="Valider" />
@{Html.EndForm();}
