﻿@model TP1_CreditImmobilier.Models.PaginatedList<TP1_CreditImmobilier.Models.SimulationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tableau de simulation :</h2>
<table>
    <thead>
        <tr>
            <td>
                Nom client
            </td>
            <td>
                Date
            </td>
            <td>
                Capital
            </td>
            <td>Durée</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var simulation in (TP1_CreditImmobilier.Models.PaginatedList<TP1_CreditImmobilier.Models.SimulationModel>) @Model) {
            <tr>
                <td>
                    @simulation.nomClient
                </td>
                <td>
                    @simulation.date
                </td>
                <td>
                    @simulation.capitalEmprunte
                </td>
                <td>
                @Html.ActionLink(
                    linkText: "Lire",
                    actionName: "Read",
                    controllerName: "Simulation",
                    routeValues: new 
                      {
                          id = @simulation.id
                      },
                      htmlAttributes: null
                )
                </td>
                <td>
                    @Html.ActionLink(
                        linkText: "Editer",
                        actionName: "Edit",
                        controllerName: "Simulation",
                        routeValues: new
                        {
                            id = @simulation.id
                        },
                        htmlAttributes: null
                    )

                </td>
                <td>
                   @{Html.BeginForm("Delete", "Simulation");}
                   @Html.Hidden("id", @simulation.id)
                   <button type="submit">Supprimer</button>
                   @{Html.EndForm();}

                </td>
            </tr>
        }
    </tbody>
</table>
@if (@Model.HasPreviousPage) { 
@Html.ActionLink(
                linkText: "Page précédente",
                actionName: "Index",
                controllerName: "Simulation",
                  routeValues: new
                  {
                      pageNumber = @Model.PageIndex - 1
                  },
                  htmlAttributes: null
            )
}
<ul>@for (var i = 1; i < @Model.TotalPages; i++)
    {
        <li>
            @Html.ActionLink(
                linkText: @i + "",
                actionName:"Index",
                controllerName:"Simulation",
                  routeValues: new
                  {
                      pageNumber = @i
                  },
                  htmlAttributes: null
            )
        </li>
    }</ul>

@if (@Model.HasNextPage)
{
    @Html.ActionLink(
                linkText: "Page suivante",
                actionName: "Index",
                controllerName: "Simulation",
                  routeValues: new
                  {
                      pageNumber = @Model.PageIndex + 1
                  },
                  htmlAttributes: null
            )
}
}
