﻿@model TP1_CreditImmobilier.Models.SimulationModel
@{
    ViewBag.Title = "Resultat";
}

<h3>Résumé de la simulation :</h3>
<table>
    <thead>
        <tr>
            <!--<td>Id</td>-->
            <td>Nom client</td>
            <td>Date</td>
            <td>Capital</td>
            <td>Durée</td>
            <td>Nb Echeances</td>
            <td>Montant des échéances</td>
            <td>Taux Intéret annuel</td>
            <td>Taux Assurance</td>
            <td>Taux Interet Periodique</td>
            <td>Taux Periodique Assurance</td>
            <td>Montant Echeance Assurance</td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <!--<td>Model.Id</td>-->
                <td>@Model.nomClient</td>
                <td>@Model.date</td>
                <td>@Model.capitalEmprunte</td>
                <td>@Model.dureePret</td>
                <td>@Model.nbEcheanceParAn</td>
                <td>@Model.montantEcheances</td>
                <td>@Model.tauxInteretAnnuel</td>
                <td>@Model.tauxAssurance</td>
                <td>@Model.tauxInteretPeriodique</td>
                <td>@Model.tauxPeriodiqueAssurance</td>
                <td>@Model.montantEcheances</td>
             </tr>
    </tbody>
</table>

