﻿<table>
    <thead>
        <tr>
            <td>
                Nom client
            </td>
            <td>
                Date
            </td>
            <td>
                Capital
            </td>
            <td>Durée</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var simulation in (List<TP1_CreditImmobilier.Models.SimulationModel>)@Model)
        {
            <tr>
                <td>
                    @simulation.nomClient
                </td>
                <td>
                    @simulation.date
                </td>
                <td>
                    @simulation.capitalEmprunte
                </td>
                <td>
                    @Html.ActionLink(
                    linkText: "Lire",
                    actionName: "Read",
                    controllerName: "Simulation",
                    routeValues: new
                      {
                          id = @simulation.id
                      },
                      htmlAttributes: null
                )
                </td>
                @if (simulation.nomClient == User.Identity.Name)
                {
                    <td>
                        @Html.ActionLink(
                        linkText: "Editer",
                        actionName: "Edit",
                        controllerName: "Simulation",
                        routeValues: new
                        {
                            id_request = @simulation.id
                        },
                        htmlAttributes: null
                    )

                    </td>
                    <td>
                        @{Html.BeginForm("Delete", "Simulation");}
                        @Html.Hidden("id", @simulation.id)
                        <button type="submit">Supprimer</button>
                        @{Html.EndForm();}

                    </td>
                }
            </tr>
        }
    </tbody>
</table>
