﻿@model TP1_CreditImmobilier.Models.SimulationModel
@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@{Html.BeginForm("Create", "Simulation");}
@Html.HiddenFor(sim => sim.id)
@Html.Hidden("UserId", Model.UserId)
<h2>Bienvenue @Model.nomClient</h2>
@Html.Hidden("nomClient", @Model.nomClient)
<p>Vous avez réalisé une simulation le @Model.date, simulation numéro n°@Model.id</p>
@Html.Hidden("date", Model.date)

@Html.LabelFor(s => s.capitalEmprunte)
@Html.TextBoxFor(s => s.capitalEmprunte)
@Html.ValidationMessageFor(s => s.capitalEmprunte)

@Html.LabelFor(s => s.dureePret)
@Html.TextBoxFor(s => s.dureePret)
@Html.ValidationMessageFor(s => s.dureePret)

@Html.LabelFor(s => s.nbEcheanceParAn)
@Html.DropDownListFor(s => s.nbEcheanceParAn, Model.getNombreEcheance)
@Html.ValidationMessageFor(s => s.nbEcheanceParAn)

@Html.LabelFor(s => s.montantEcheances)
@Html.Hidden("montantEcheances")
<span id="montantEcheances">0</span>
@Html.ValidationMessageFor(s => s.montantEcheances)

@Html.LabelFor(s => s.tauxInteretAnnuel)
@Html.TextBoxFor(s => s.tauxInteretAnnuel)   
@Html.ValidationMessageFor(s => s.tauxInteretAnnuel)

@Html.LabelFor(s => s.tauxAssurance)
@Html.TextBoxFor(s => s.tauxAssurance)
@Html.ValidationMessageFor(s => s.tauxAssurance)

@Html.LabelFor(s => s.tauxPeriodiqueAssurance)
@Html.Hidden("tauxPeriodiqueAssurance")
<span id="tauxPeriodiqueAssurance">0</span>

@Html.LabelFor(s => s.tauxInteretPeriodique)
@Html.Hidden("tauxInteretPeriodique")
<span id="tauxInteretPeriodique">120</span>

@Html.LabelFor(s => s.montantEcheancesAssurance)
@Html.Hidden("montantEcheanceAssurance")
<span id="montantEcheanceAssurance">3</span>
<input type="submit" value="Valider"/>
@{Html.EndForm();}








