﻿@model TP1_CreditImmobilier.Models.PaginatedList<TP1_CreditImmobilier.Models.SimulationModel>

@{
    //ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div id="search">
    @using(Ajax.BeginForm("Search", "Simulation", 
        new AjaxOptions
        {
            UpdateTargetId="SimulationsArray",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }))
    {
        <input type="text" name="query" />
    }
</div>

<div id="SimulationsArray">
    @Html.Partial("~/Views/Shared/_SimulationResults.cshtml", @Model)
</div>

@if (@Model.HasPreviousPage) { 
@Html.ActionLink(
                linkText: "Page précédente",
                actionName: (string) ViewBag.actionName,
                controllerName: "Simulation",
                  routeValues: new
                  {
                      pageNumber = @Model.PageIndex - 1
                  },
                  htmlAttributes: null
            )
}
<ul>@for (var i = 1; i < @Model.TotalPages; i++)
    {
        <li>
            @Html.ActionLink(
                linkText: @i + "",
                actionName: (string) ViewBag.actionName,
                controllerName:"Simulation",
                  routeValues: new
                  {
                      pageNumber = @i
                  },
                  htmlAttributes: null
            )
        </li>
    }</ul>

@if (@Model.HasNextPage)
{
    @Html.ActionLink(
                linkText: "Page suivante",
                actionName: (string) ViewBag.actionName,
                controllerName: "Simulation",
                  routeValues: new
                  {
                      pageNumber = @Model.PageIndex + 1
                  },
                  htmlAttributes: null
            )
}
}
